coverage
src
heroku
test
bower_components
node_modules
.idea

.bowerrc
.editorconfig
.gitattributes
.jscsrc
.jshintignore
.jshintrc
.travis.yml
bower.json
build.config.js
gulpfile.js
karma.conf.js
protractor.conf.js